body{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

.navbar{
    width: 100%;
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;

    margin-bottom: 10px;
    box-shadow: 1px 2px 8px 1px rgba(0,0,0,0.18);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_container{
    width: 100%;
    height: 100%;
   
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0;
    padding: 0;
}

div.navbar div.main_container div.search_area{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 320px;
    height: 56px;
}

.facebooklogo{
    width: 40px;
    height: 39.78px;
 
    margin-left: 15px;

    border-radius: 50%;
}

.facebooklogo:hover{
    cursor: pointer;
}

.main_container .search_area img.icon_logoface{
    width: 40px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 15px;
}

div.search_input{
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

img.magnifying_glass{
    position: absolute;
    /* display: inline; */

    padding: 13px 0px 12px 24px;
    min-width: 20px;

    width: 12px;
    height: 24px;
    
}

input.search_bar{
    width: 216px;
    height: 39.78px;
    
    border-radius: 200px;
    border: none;
    outline: none;

    display: inline;

    /* box-sizing: content-box; */
    
    background-color: rgb(240, 242, 245);
    
    padding: 5px 10px 5px 45px;
    margin: 10px 10px 10px 10px;
}

/* .main_container .search_area img.magnifying_glass{
    position: absolute;

    padding: 18px 0px 18px 80px;
    min-width: 20px;

    width: 12px;
    height: 24px;
} */

/* input.search_bar{
    width: 185px;
    height: 30px;
    
    border-radius: 200px;
    border: none;
    outline: none;

    display: inline;

    box-sizing: content-box;
    
    background-color: rgb(240, 242, 245);
    
    padding: 5px 10px 5px 45px;
    margin: 10px 10px 10px 10px;
}    */

input.search_bar:hover{
    cursor: pointer;
}

.interaction_area{
    width: 605px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content:center;
    position: static;
}

.box_icons{
    width: 99.33px;
    height: 56px;

    border-radius: 10%;

    margin: 0 10px 0 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_icons:hover{
    color: #057BF8;
    cursor: pointer;
    background-color: #f0f0f0;
}

svg{
    width: 27.98px;
    height: 27.98px;
}

svg#facelogo{
    width: 40px;
    height: 39.78px;
}

.circle_icons .profile_picture{
    width: 39.98px;
    height: 39.98px;

    border-radius: 50%; 
}

.tooltip_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    display: block;
}

.tooltip_box span.tooltiptext{
    visibility: hidden;
    
    height: 25px;
    width: 120px;

    background-color: rgba(0, 0, 0, 0.60);

    -webkit-box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.26);
    box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.26);

    font-size: 15px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;

    margin-top: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip_box:hover span.tooltiptext{
    visibility: visible;
    opacity: 1;
}

.tooltip_box span.tooltiptext#tooltip-watch{
    width: 60px;
    margin-left: 30px;
}

.tooltip_box span.tooltiptext#tooltip-games{
    width: 60px;
    margin-left: 30px;
}

.tooltip_box span.tooltiptext#tooltip-feeds{
    width: 60px;
    margin-left: 30px;
}

.tooltip_circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
    display: block;
}

.tooltip_circle span.tooltiptext{
    visibility: hidden;
    
    height: 25px;
    width: 120px;

    background-color: rgba(0, 0, 0, 0.60);

    -webkit-box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.26);
    box-shadow: 0px 5px 14px 1px rgba(0,0,0,0.26);

    font-size: 15px;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;
  
    position: absolute;
    z-index: 1;

    margin-top: 2px;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip_circle:hover span.tooltiptext{
    visibility: visible;
    opacity: 1;
}

.tooltip_circle span.tooltiptext#tooltip-menu{
    width: 60px;
    margin-left: 30px;
}


div .main_settings{
    width: 204x;
    height: 56px;

    margin: 0 15px 0 0;

    display: flex;
    align-items: center;
    justify-content:center;
}

.circle_icons{
    width: 39.98px;
    height: 39.98px;

    margin-inline: 0 0 0 10px;
    padding: 5px 5px 5px 5px;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content:center;
    
}

.circle_icons:hover{
    color: #057BF8;
    cursor: pointer;
    background-color: #dddfe2;
}

.main-content-container{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    margin-bottom: 10px;
}

.user-details{
    height: 200vh;
    width: 33.33%;
    
    background-color: rgb(179, 112, 112);
}

.user-feed{
    height: 200vh;
    width: 33.33%;

    background-color: gray;
}

.user-message{
    height: 200vh;
    width: 33.33%;

    background-color: red;
}





.xe3v8dz{
    fill: white;
}

















